
/* ==========================================================================
    HOMEPAGE
   ========================================================================== */

// Home Buttons & News
section.home-buttons-news {
	background: url('../images/diamond-tile-bg.png') repeat;
	background-attachment: fixed;
	border-top: 2px solid $crimson;
	border-bottom: 2px solid $crimson;
	padding: 2rem 0rem;
	@include breakpoint (large) {
		padding: 4rem 0;
	}
	
	.home-buttons {
		a.button {
			display: block;
			font-size: 1.5rem;
			font-weight: bold;
		    letter-spacing: 0.1rem;
		    padding: 1.5rem 0.8rem;
		    margin-bottom: 1rem;
		    @include breakpoint (large) {	
		    	padding: 2.8rem 1rem;
		    	margin-bottom: 1.6rem;
		    }
		}
	}

	.home-news {
		text-align: center;
		background: $navy;
		padding: 1.8rem 2rem;
		hr {
			border-color: white;
    		margin: 0.8rem 0 1rem 0;
		}

		h3 {
			font-size: 1.6rem;
		}

		h3, h4, p, a {
			color: white;
		}

		h4 {
			margin: 0;
		}

		a.button {
		    font-size: 1.4rem;
		    font-weight: bold;
		    letter-spacing: 0.1rem;
			background: none;
		    border: 1px solid white;
		    padding: 0.7rem 1.5rem;
		    &:hover {
		    	background: white;
		    	color: $navy;
		    }
		}
	}
	
	.article {
		p.date {
			font-size: 1.3rem;
			font-style: italic;
			text-transform: uppercase;
			margin-bottom: 0.5rem;
		}
	}
}

// Connect with Us
section.connect-with-us {
	background-image: url('../images/MSVA-mainbg.jpg');
	padding: 2rem 0;
	@include breakpoint(large) {
		padding: 3.75rem 0;
	}

	h2 {
		margin-bottom: 0;
		font-size: 1.6rem;
	}

	hr {
		margin: 0 0 2.4rem 0;
	}

	.newsletter {
		p {
			font-family: $fjalla;
			font-size: 1.2rem;
			text-transform: uppercase;
		}
	}

	.form-container {
		input[type="email"] {
			float: left;
			color: white;
			background: rgba($dark-gray, 0.5);
			border: 1px solid $dark-gray;
			width: 65%;
			padding: 1.6rem 1.4rem;
		}
		input[type="submit"] {
			float: left;
			color: white;
			letter-spacing: 0.2rem;
			text-transform: uppercase;
			background: $navy;
			border: none;
			width: 35%;
			padding: 1.04rem 0;
			@include transition-all;
			&:hover {
				background: lighten($navy, 8%);
			}
		}

		input[type="email"]::-webkit-input-placeholder {
		color: white !important;
		}
		 
		input[type="email"]:-moz-placeholder { /* Firefox 18- */
		color: white !important;  
		}
		 
		input[type="email"]::-moz-placeholder {  /* Firefox 19+ */
		color: white !important;  
		}
		 
		input[type="email"]:-ms-input-placeholder {  
		color: white !important;  
		}
	}
}