.gloss-accordion {
	@include accordion-container;
	.gloss-accordion-item {
		@include accordion-item;
		.gloss-accordion-title {
			@include accordion-title;
			color: $red;
			font-size: 1.2rem;
			font-weight: bold;
		}
		.gloss-accordion-content {
			@include accordion-content;
			color: $navy;
		}
	}
}