body.page {
    background: url('../images/diamond-tile-bg.png') repeat;
    background-attachment: fixed;
}

#page {
    h1 {
        letter-spacing: 0.2rem;
        text-align: center;
        padding: 2rem 0 0.2rem 0;
        @include breakpoint(medium) {
            padding: 4rem 0 0.2rem 0;
        }
        
        margin: 0;
    }

    hr {
        max-width: 100%;
        margin: 0 0 2.6rem 0;
    }

    p, li {
        font-size: 1.08rem;
        letter-spacing: 0.06rem;
    }

    ul.triangles {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    ul.triangles > li:before {
        content: "▶";
        margin-right: 0.5rem;
    }

    .cuddled {
        letter-spacing: 0.03rem;
    }

    .subpage-content {
        background: rgba($white, 0.9);
        padding: 1.5rem 1rem;
        margin: 0 1rem 2rem 1rem;
        @include breakpoint(medium) {
            padding: 2rem;
            margin: 0 0 3rem 0;
        }
    }

    .subpage-content-nobg {
        background: none;
    }
}

// Sorry for this hack
.page-id-9, .page-id-21, .page-id-13 {
    .subpage-content {
        box-shadow: 2px 2px 1px $black !important;
    }
}

.contact-page {
    h3, h5, h6 {
        font-family: $source-sans;
        
    }
    h3 {
        letter-spacing: 3px;
        font-size: 1.6rem;
    }
    .contact-content {
        @include breakpoint(large) {
            border-right: 1px solid $red;
        }
        text-align: right;
    }
    [type='text'], [type='email'], [type='number'], textarea {
        color: $white;
        letter-spacing: 2px;
        background-color: $navy;
    }
    input[type="submit"] {
        background-color: $red;
        color: $white;
        letter-spacing: 2px;
        padding: 0.7rem;
    }
    hr {
        border-bottom: 1px solid $red;
        padding: 0.5rem 0;
    }
    .contact-form {
        padding-left: 1rem;
    }
    .contact-content {
        padding-right: 1rem;
    }
    ::-webkit-input-placeholder {
       color: $white;
    }

    :-moz-placeholder { /* Firefox 18- */
       color: $white; 
    }

    ::-moz-placeholder {  /* Firefox 19+ */
       color: $white;  
    }

    :-ms-input-placeholder {  
       color: $white;  
    }
}


.contact-blurb {
    font-size: 0.8rem !important;
    font-style: italic;
    span {
        font-weight: bold;
    }
}

.page-template-page-products {
    .subpage-content {
        padding: 0 0 3rem 3rem !important;
    }
}
