#single-post {
    h1 {
        letter-spacing: 0.2rem;
        text-align: center;
        padding: 4rem 0 0.2rem 0;
        margin: 0;
    }

    hr {
        max-width: 100%;
        margin: 0 0 2.6rem 0;
    }

    p {
        font-size: 1.08rem;
        letter-spacing: 0.06rem;
    }
}
