article.testimonial {
    margin-bottom: 2em;

    &:last-of-type {
        margin-bottom: 0;
    }

    header {
        font-weight: bold;
    }

    header > h5 {
        display: inline-block;
        text-transform: none;
        margin: auto 0.5em 0 0.5em;
    }

    header > h5.red {
        color: $crimson;
        margin-left: 0;
    }

    p {
        margin-top: 0.25rem;
    }

    p::before {
        content: '"';
    }

    p::after {
        content: '"';
    }
}
