/* A set of classes that utilize the @border mixin. */

#resources-page {
    .border-right {
        @include border(right, $crimson);

        @include breakpoint(medium down) {
            border-right-style: hidden;
        }
    }

    .border-bottom {
        @include border(bottom, $crimson);

        @include breakpoint(large) {
            border-bottom-style: hidden;
        }
    }
}
