.sites-button {
    background: #FF6908;
    font-size: 1.25rem;
    font-weight: bold;
    box-shadow: 0 -2px 0 rgba(0,0,0,0.2) inset;
    border-radius: 3px;
    border: none;
}

a.button, .button {
    font-size: 1rem;
    text-transform: uppercase;
    border: 1px solid $dark-gray;

    transition: border 0.2s ease-in-out,
                background-color 0.2s ease-in-out;


    &.transparent {
        background-color: transparent;
    }

    &:hover {
        color: white;
        border: 1px solid $crimson;
    }

    &.transparent:hover {
        color: $white;
        border: 1px solid $navy;
        background-color: $navy;
        transition: border 0.2s ease-in-out, 
                    background-color 0.2s ease-in-out;
    }
}
