i.moxy-icon {
    height: 100px;
    width: 100px;

    &.open:after {
        content: url('../images/timeline/va-timeline-icon-1.png');
    }

    &.users:after {
        content: url('../images/timeline/va-timeline-icon-2.png');
    }

    &.graph:after {
        content: url('../images/timeline/va-timeline-icon-3.png');
    }

    &.pie-chart:after {
        content: url('../images/timeline/va-timeline-icon-4.png');
    }

    &.institution:after {
        content: url('../images/timeline/va-timeline-icon-5.png');
    }

    &.business-person:after {
        content: url('../images/timeline/va-timeline-icon-6.png');
    }

    &.pin:after {
        content: url('../images/timeline/va-timeline-icon-7.png');
    }

    &.nodes:after {
        content: url('../images/timeline/va-timeline-icon-8.png');
    }

    &.compass:after {
        content: url('../images/timeline/va-timeline-icon-9.png');
    }

    &.tools:after {
        content: url('../images/timeline/va-timeline-icon-10.png');
    }

    &.globe:after {
        content: url('../images/timeline/va-timeline-icon-11.png');
    }

    &.abernathy:after {
        content: url('../images/timeline/va-timeline-icon-12.png');
    }
}
