.product-card {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    position: relative;
}

ul.product-cards {
    list-style: none;
    margin-left: 0;

    li.product-card {
        border: 2px solid #fff;
        width: 97%;
        margin-right: 3%;
        box-shadow: 1px 0 1px rgba(0, 0, 0, 0.2);

        transition: border     0.1s ease-in-out,
                    box-shadow 0.1s ease-in-out;

        @include breakpoint(large up) {
            padding: 2em;
        }
    }

    li.product-card:hover {
        border: 2px solid $crimson;
        box-shadow: 2px 0 2px rgba(0, 0, 0, 0.2);
        
        transition: border     0.1s ease-in-out,
                    box-shadow 0.1s ease-in-out;
    }
}

/* This block is used for when the product card exists within a modal. It's not
   exclusively related to product cards. */

.vendor-modal {
    padding: 3rem 2rem;
}

.vendor-meta {
    margin-bottom: 2rem;
}
