ol.timeline {
    padding: 1em;

    position: relative;

    list-style: none;
}

ol.timeline > li.item {
    margin-bottom: 2em;

    position: relative;

    padding: 2em 1em !important;

    border: 1px solid #777;

    &.border-left:before,
    &.border-right:before,
    &.border-left:after,
    &.border-right:after {
        content: '';
        display: block;
        position: absolute;
        width: 25%;
        border: 1px solid rgba(254, 254, 254, 0.9);
    }

    &.border-left:before,
    &.border-right:before {
        top: -1px;
    }

    &.border-left:after,
    &.border-right:after {
        bottom: -1px;
    }

    &.border-left:before,
    &.border-right:after {
        left: 0;
    }

    &.border-left:after,
    &.border-right:before {
        right: 0;
    }
}

ol.timeline > li.item > .content {
    h3 {
        color: $navy;
    }

    .date {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        min-height: 100px;

        &:nth-child(1),
        &:nth-child(3):nth-child(odd) {
            justify-content: flex-start;
        }
    }
}

.timeline-screen {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    display: none;

    & > .timeline-container {
        position: relative;
        text-align: center;
        height: 100%;
    }

    & > .timeline-container > img {
        height: 100%;
    }

    & > .close {
        position: absolute;
        top: 1em;
        right: 1em;
        z-index: 2;
    }

    & > .close > i {
        cursor: pointer;
    }
}
