/* =====================
    VARIABLES
   =====================
*/

// Colors
$navy: #2b4069;
$red: #d0112b;
$crimson: #8b2131;

// Fonts
$fjalla: 'Fjalla One', sans-serif;
$source-sans: 'Source Sans Pro', sans-serif;
$moxy-font: 'LHFChicago';