#footer-container {
  background-color: $dark-gray;
  color: white;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;

  a {
    color: white;
  }

  hr {
    margin: 1rem 0 0 0;
  }

  p {
    margin: 0;
  }

  .footer-info {
    padding: 2.3rem 0 0 0;

    a.button {
      display: block;
      letter-spacing: 0.2rem;
      background: none;
      border: 1px solid white;
      padding: 1rem;
      margin: 0;
      @include transition-all;
      &:hover {
        background: white;
        color: $dark-gray;
      }
    }

    .social-icons {
      font-size: 2.6rem;
      text-align: center;
      @include breakpoint(large) {
        text-align: right;
      }
    }
  }

  #footer {
    @include grid-row();
    padding: 0.6rem 0 0.8rem 0;
    @include breakpoint(large) {
      padding: 1.4rem 0 1.8rem 0;
    }
    .copy {
      text-align: center;
    }
    .moxy {
      text-align: center;
      a {
        font-family: $moxy-font;
        font-size: 1.2rem;
      }
      @include breakpoint(medium) {
        text-align: right;
      }
    }
  }
}
