/* ==========================================================================
    HEADER
   ========================================================================== */

.add-border {
  border-bottom: 1px solid $navy;
}

header#masthead {
  background-image: url(../images/MSVA-mainbg.jpg);
  background-size: cover;
  background-position: center center;
  padding-top: 1.5rem;
  .header-logo {
    .header-text {
      position: relative;
    }
    p {
      font-size: 1rem;
      font-style: italic;
      text-align: center;
      text-transform: uppercase;
      border-top: 1px solid $navy;
      border-bottom: 1px solid $navy;
      padding: 0.2rem 0.8rem;
      margin-bottom: 2rem;

      @include breakpoint(medium) {
        font-size: 1.2rem;
        margin-bottom: 1rem;
      }
      
      @include breakpoint(large) {
        @include vertical-align;
      }
    }
  }
}

// Home Slider
.home-slider {
  @include breakpoint(medium) {
    padding: 2.5rem 0;
  }
  
  .caption {
    position: absolute;
    bottom: 0;
    color: white;
    background: rgba($navy, 0.8);
    padding: 1rem 2.5rem 0.1rem 2.5rem;
    width: 100%;
  }
  
  // Owl Styles
  .owl-stage-outer {
    @include breakpoint(large) {
      box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.3);
    }
  }
  
  .owl-controls {
    margin: 0.75rem 0 1.25rem 0;
  }

  .owl-nav {
    position: absolute;
    top: 33%;
    width: 100%;

    .owl-prev, .owl-next {
      color: $dark-gray !important;
      font-size: 5rem !important;
      background: none !important;
      @include transition-all;
      &:hover {
        color: $medium-gray !important;
      }
    }

    .owl-prev {
      position: absolute;
      left: -3.5rem;
    }

    .owl-next {
      position: absolute;
      right: -3.5rem;
    }
  }

  .owl-dots .owl-dot {
    &.active span {
      background: $crimson !important;
    }

    span {
      width: 15px !important;
      height: 15px !important;
      background: $dark-gray !important;
    }
  }
}

.owl-item {
  height: rem-calc(250);
  @include breakpoint(large) {
    height: rem-calc(400);
  }
}

// CTA Buttons
.cta-buttons {
  .buttons {
    margin-top: -1em;
    margin-bottom: 2.2rem;
  }

  a.button {
    margin: 0 0.5rem 0.75rem 0.5rem;
    @include breakpoint(large) {
      margin: 0 0.5rem 0rem 0.5rem;
    }
    display: block;

    @include breakpoint(medium) {
      display: inline-block;
    }
  }

  hr {
    border-bottom: 1px solid white;
    margin: 0;
  }
}