/* ==========================================================================
    TOP BAR
   ========================================================================== */

/* Navigation breakpoints */

.desktop-menu, .top-bar-left {
  @include show-for(medium);
}

#mobile-menu, .title-bar {
  @include hide-for(medium);
}

/* Mobile menu */

.off-canvas {
  ul#menu-main-menu {
    height: 100vh;
    padding: 1rem;
  }
}

.title-bar-title {
  a {
    font-size: 1rem;
    color: #B9B9B9;
  }
}

.vertical.menu {
  background-color: $crimson;
  text-align: center;
  ul li a {
    color: $white;
    font-size: 1.5rem;
  }
}

/* Tablet and desktop menu */
@include breakpoint(medium) {

  .remove-border {
    border-bottom: none !important;
  }

  .top-bar {
    background: none;
    border-bottom: 1px solid $navy;
    max-width: 1170px;
    margin: 0 auto;

    ul {
      background: none;
    }

    ul#menu-main-menu {
      display: table;
      width: 100%;
      &>li {
        text-align: center;
      }
    }

    .menu a {
      min-height: 45px;
      line-height: 45px;
      color: $dark-gray;
      padding-top: 0;
      padding-bottom: 0;
      font-weight: bold;
      font-size: 1.3rem;
      line-height: 1;
      @include transition-all;

      &:hover:not(.button) {
        color: white;
        background-color: $navy;
      }
    }

    .menu>li:not(.menu-text)>a {
      text-transform: uppercase;
      padding: 0.8rem; 
    }

    .dropdown.menu {
      z-index: 9;
    }

    .dropdown.menu .submenu {
      background-color: $navy;
      color: white;
      border: 0;
      a {
        color: white;
      }
    }

    .dropdown.menu .has-submenu.is-down-arrow a { padding-right: 1rem; }
    .dropdown.menu .has-submenu.is-down-arrow > a::after { border: 0; }
    .is-dropdown-submenu-parent.is-down-arrow > a::after {
      top: 1.2rem;
      right: 0.25rem;
    }

    .top-bar-right {
      float: none;
      max-width: 800px;
      margin: 0 auto;
    }
  }

  .generic-list {
    ul > li > a {
      padding: 1em;
      background-color: $navy;
      color: white;
      transition: background-color 0.2s ease-in-out;
      font-family: $fjalla;
      text-transform: uppercase;

      * {
        color: inherit;
        font-family: inherit;
      }

      &:hover, &.active {
        background-color: lighten($navy, 10%);
        transition: background-color 0.2s ease-in-out;
      }
    }
  }
}