.sidebar {
  @include breakpoint(medium) {
    margin-top: 4rem;
  }
}

.product-category-sidebar {
    background-color: $navy;
    padding: 2em 1em;
    margin-bottom: 2em;

    @include breakpoint(large up) {
        height: 100%;
        margin: auto 2.5% 1em -2.5%;
    }

    ul {
        list-style: none;
        text-align: center;
        margin: auto auto 0 0;
        
        @include breakpoint (large up) {
            padding: 1em;
        }
    }

    ul > li {
        text-transform: uppercase;
        padding: 1em;
        display: inline-block;

        @include breakpoint(large up) {
            border-bottom: 1px solid #fff;
            padding: 1em 0;
        }
    }

    ul > li:last-of-type {
        border-bottom: none;
    }

    ul > li a, a:visited {
        color: $white !important;
        text-decoration: none;
        font-family: $fjalla;
    }

    ul > li a:hover {
        color: $white !important;
    }
}