/* ==========================================================================
    GLOBAL STYLES
   ========================================================================== */

body {
    background: #fefefe url('../../assets/images/bg_subpage_updated.jpg') no-repeat center center fixed;
    background-size: cover;
}

body.body-diamond {
	background: #fefefe url('../../assets/images/diamond_upholstery.png') repeat top left fixed;
	background-size: none;
}

// Firefox fix
img {
	max-height: 100%;
}

// Google Maps
#voigtAbMap img,
#voigtAbMap embed,
#voigtAbMap object,
#voigtAbMap video {
	max-width: none;
	max-height: none;
	overflow: visible;
}

#voigtAbMap h3 {
	padding: 0 !important;
	text-align: left !important;
}

#voigtAbMap p {
	font-size: 12pt !important;
}

// Typography 
h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
}

h4, h5, h6 {
	font-family: $source-sans !important;
	font-weight: bold !important;
}

// Generic list panels
.generic-list-panel {
	display: none;
	
	&.visible {
		display: block;
	}
}

// Prevents the page from scrolling when there's a full screen overlay
.noscroll {
	overflow: hidden;
}

// Why weren't these already supported by Wordpress?
.alignleft {
	float: left;
}

.alignright {
	float: right;
	margin: 0 1em;
}

// Oh well
.push-down-one {
	margin-bottom: 1em;
}

.text-center {
    text-align: center;
}